<div id="dates">
  <div class="date date-active" id="date-1">
    <span>21</span>
    <br/>
    Maio
  </div>
  <div class="date" id="date-2">
    <span>22</span>
    <br/>
    Maio
  </div>
  <div class="date" id="date-3">
    <span>23</span>
    <br/>
    Maio
  </div>
</div>
<div id="lectures">
  <div class="lectures date-1">
    <div class='lecture-type'>Abertura</div>
    <ul>
      <li>
        <span class='time'>18:00</span>
        <span class='lecture-title'><span class='tag'>[#ARENA]</span> Abertura dos Diálogos Sociais</span>
      </li>
    </ul>
  </div>
  <div class="lectures date-2" style="display: none;">
    <div class='lecture-type'>Painéis</div>
    <ul>
      <li>
        <span class='time'>09:00</span>
        <span class='lecture-title'><span class='tag'>[#MROSC]</span> Balanço da agenda do Marco Regulatório das Organizações da Sociedade Civil</span>
      </li>
      <li>
        <span class='time'>09:30</span>
        <span class='lecture-title'><span class='tag'>[#Contratualização]</span> Por uma nova relação de parcerias entre o Estado e as Organizações da Sociedade Civil</span>
      </li>
      <li>
        <span class='time'>11:30</span>
        <span class='lecture-title'><span class='tag'>[#MROSC]</span> Panorama global sobre as Organizações da Sociedade Civil</span>
      </li>
      <li>
        <span class='time'>19:00</span>
        <span class='lecture-title'><span class='tag'>[#Conhecimento]</span> (Des)construção dasnarrativas sobre as Organizações da Sociedade Civil</span>
      </li>
    </ul>
    <div class='lecture-type'>Atividades paralelas - 14:00 às 18:00</div>
    <ul>
      <li>
        <div class='place'>Sala 01</div>
        <span class='lecture-title'><span class='tag'>[#Contratualização]</span> Boas práticas nas parcerias entre Estado e OSCs</span>
        <p class='lecture-description'>As parcerias entre o Estado e as organizações da sociedade civil se constituem por meio diferentes etapas como planejamento e seleção; execução; monitoramento e avaliação; e prestação de contas. O objetivo desta atividade é, a partir do intercâmbio de experiências existentes ou de propostas, apontar diretrizes inspiradoras em cada uma dessas etapas que possam contribuir para uma boa relação entre o Estado e as Organizações da Sociedade Civil. O agrupamento das diretrizes será feito por etapa e a sistematizaçao será divulgada posteriormente.</p>
      </li>
      <li>
        <div class='place'>Sala 02</div>
        <span class='lecture-title'><span class='tag'>[#Sustentabilidade]</span> Experiências de fundos no universo das OSCs</span>
        <p class='lecture-description'>Aprofundar o conhecimento sobre fundos nacionais e internacionais, públicos e privados, bem como, promover o intercâmbio entre eles, são propostas da atividade paralela "Experiências de fundos no universo das OSCs", que reunirá gestores e interessados no tema. Na oportunidade, serão formadas quatro cirandas paralelas reunindo as experiências, conforme afinidades. As experiências inspiradoras se agruparão nas áreas de Bancos, Fundos e Moedas Solidárias; Fundos Públicos; Fundos Patrimoniais; e Fundos Independentes. Sínteses dos diálogos serão apresentadas e intercambiadas posteriormente.</p>
      </li>
      <li>
        <div class='place'>Sala 03</div>
        <span class='lecture-title'><span class='tag'>[#Sustentabilidade]</span> Oficina da Lei de Incentivo ao Esporte</span>
        <p class='lecture-description'>Com o intuito de contribuir para a melhoria na aplicação da Lei de Incentivo ao Esporte - Lei n.11.438/2006 - que dispõe sobre o fomento para as atividades de caráter desportivo e paradesportivo, o Ministério dos Esportes e a Rede Esporte Pela Mudança Social (REMS) promovem esta oficina para o encontro de experiências e de acompanhamento na evolução da legislação. A REMS reúne atualmente 52 organizações da sociedade civil que trabalham com esporte para desenvolvimento humano no país e que possuem experiência na elaboração e execução de projetos incentivados.</p>
      </li>
      <li>
        <div class='place'>Sala 04</div>
        <span class='lecture-title'><span class='tag'>[#Conhecimento]</span> Pensando as Organizações da Sociedade Civil: a formação de uma rede de pesquisa</span>
        <p class='lecture-description'>A articulação em torno da criação de uma rede de pesquisa sobre as organizações da sociedade civil tem o intuito de promover a reflexão crítica e a troca de conhecimentos sobre a produção acadêmica atual sobre os temas relacionados às organizações da sociedade civil e de suas parcerias entre o Estado no Brasil e na América Latina. O encontro reunirá pesquisadores, pensadores e articuladores do país sobre o tema, bem como Observatórios da Sociedade Civil e de Políticas Públicas que produzem reflexão sobre o campo, com vistas ao mapeamento das pesquisas e à construção de uma agenda para a rede de pesquisa.</p>
      </li>
      <li>
        <div class='place'>Sala 05</div>
        <span class='lecture-title'><span class='tag'>[#Contratualização]</span> Oficina decriação de interface própria do SICONV para as OSCs</span>
        <p class='lecture-description'>Esta oficina compõe o processo de aperfeiçoamento do Sistema de Convênios, Contratos de Repasse e Termos de Parceria do Governo Federal (SICONV) e tem o objetivo de sistematizar sugestões para a criação de uma interface própria que atenda de maneira adequada e facilitada as demandas das organizações da sociedade civil. Participarão gestores, administradores, partícipes de OSCs interessadas, representantes da SLTI (Secretaria de Logística e Tecnologia de Informação) e do SERPRO (Serviço Federal de Processamento de Dados), responsáveis estes ultimos, respectivamente, pela gestão e desenvolvimento do SICONV.</p>
      </li>
      <li>
        <div class='place'>Sala 06</div>
        <span class='lecture-title'><span class='tag'>[#MROSC]</span> Cenários futuros da sociedade civil organizada no Brasil - 2023</span>
        <p class='lecture-description'>Um grupo diverso de todas as regiões do Brasil que representam organizações da sociedade civil, movimentos sociais, governo, empresas, universidades, mídias e coletivos de jovens, expressaram suas visões sobre o presente e o futuro da sociedade civil organizada para 2023 em entrevistas, oficinas presenciais e mensagens pela internet. O grupo batizou seus quatro cenários inspirado por brincadeiras infantis: o mestre mandou; a amarelinha; o passa anel e a ciranda. A partir da perspectiva de que o futuro não é dado, mas construído, esta atividade busca estimular a reflexão sobre as possibilidades de atuação nos cenários da sociedade civil para os próximos anos.</p>
      </li>
      <li>
        <div class='place'>Sala 07</div>
        <span class='lecture-title'><span class='tag'>[#DIREITOS HUMANOS]</span> Relatoria especial da ONU sobre liberdade de associação, reunião e manifestação pacificas</span>
        <p class='lecture-description'>A Relatoria Especial das Nações Unidas sobre os direitos à liberdade de reunião pacífica e de associação funciona de forma independente e propõe recomendações ao Conselho de Direitos Humanos das Nações Unidas por meio de relatórios e sistematização de informações sobre este tema em diversos países. O Relator Especial, Maina Kiai, apresentou dois relatórios sobre boas práticas na promoção das liberdades de reunião e de associação (maio de 2012) e da capacidade da sociedade civil de acesso a financiamento de recursos que fortaleçam a sua sustentabilidade (abril 2013). O objetivo desta atividade é discutir esses conteúdos, avaliar as possibilidades de atuação e trocar experiências.</p>
      </li>
    </ul>
  </div>
  <div class="lectures date-3" style="display: none;">
    <div class='lecture-type'>Painéis</div>
    <ul>
      <li>
        <span class='time'>09:00</span>
        <span class='lecture-title'><span class='tag'>[#Certificação]</span> Certificações das OSCs: por que e por quem?</span>
      </li>
      <li>
        <span class='time'>11:00</span>
        <span class='lecture-title'><span class='tag'>[#Sustentabilidade]</span> Economias e sustentabilidade das OSCs</span>
      </li>
      <li>
        <span class='time'>12:30</span>
        <span class='lecture-title'><span class='tag'>[#MROSC]</span> Perspectivas e desafios da agenda do Marco Regulatório das Organizações da Sociedade Civil</span>
      </li>
    </ul>
  </div>
</div>
<p>Curta&nbsp;<a href="https://www.facebook.com/mroscs">a página do Marco Regulatório das Organizações da Sociedade Civil no Facebook</a>&nbsp;e acompanhe as novidades sobre o Seminário.&nbsp;</p>
